.p-toast.p-toast-top-right {
  z-index: 1000;
  top: 7rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
}

.user-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  &.status-true {
    background: #c8e6c9;
    color: #256029;
  }
  &.status-false {
    background: #ffcdd2;
    color: #c63737;
  }
}

element.style {
   z-index: 1000 !important;
}
